nav{
  display: flex;
  justify-content: flex-end;
  background: #060606;
  color: #fff;
  height: 70px;
  line-height: 70px;
  padding-right: 20px;
  .logo{
    height: 40px;
    width: 120px;
    // position: relative;
    margin: auto 20px;
    flex-grow: 1;
  }
  button{
    font-size: 16px;
    font-weight: 300;
  }
}
@media only screen and (max-width: 530px){
  nav{
    justify-content: center;
    padding-right: 0px;
    .logo{
      display: none;
    }
    button{
      min-width: 60px;
    }
  }
}
