<section class="hero">
  <article>
    <div class="text">
      <h2>Welcome to Leantech</h2>
      <p>Path to digital success is not a one shot game but rather a loop of bad and good experiments. That requires strategical and methodological mindset, aim for scalability and profitability as well as A-class execution.</p>
      <!-- <a class="btn" href="#">Push
      </a> -->
      <button mat-raised-button (click)="openDialog()">Get in touch</button>
    </div>
  </article>
</section>
<section id="products">
  <h1>Products</h1>
  <article>
    <div class="img-box">
      <img src="/assets/images/1products.jpg" alt="">
      <span>Full-stack consultancy</span>
    </div>
    <div class="img-box">
      <img src="/assets/images/2Products.jpg" alt="">
      <span>Market analysis</span>
    </div>
    <div class="img-box">
      <img src="/assets/images/3Products.jpg" alt="">
      <span>Design</span>
    </div>
  </article>
</section>
<section id="case">
  <div class="text-box">
    <h3>Success case</h3>
    <p>Path to digital success is not a one shot game but rather a loop of bad and good experiments. That requires strategical and methodological mindset, aim for scalability and profitability as well as A-class execution.</p>
  </div>
  <div class="img-box">
    <img src="/assets/images/Case.jpg" alt="">
  </div>
</section>
